Andreas, [21.08.2022 20:12]
body {
  width: auto;
  
  margin: auto;
  
  background-image: url(Images/galaxy.png);
  background-size: cover;
}
header{

  background-size: cover;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

.quote-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.banner {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1{
  color:white;
}
header h1 {
  color: white;

}
#burger-menu {
  opacity: 0;
}
#burger-menu:checked + .menu__btn  {
  transform: rotate(45deg);
}
#burger-menu:checked + .menu__btn  {
  top: 0;
  transform: rotate(0deg);
}
#burger-menu:checked + .menu__btn  {
  top: 0;
  transform: rotate(90deg);
}
#burger-menu:checked ~ .menu__box {
  left: 0 ;
}
.menu__btn {
  color:white;

  cursor: pointer;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition-duration: .25s;
}
.menu__box {
  display: flex;
  position: fixed;
  z-index: 2;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px 0;
  list-style: none;
  background-image: linear-gradient(to bottom, #F37335, #9A1CD0);
  transition-duration: .25s;
}
.menuitem {
  display: block;
  
  color: #333;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  transition-duration: .25s;
}
.banner img {
  width: 20%;

}
.menuitem:hover {
  background-color: #CFD8DC;
}
.universe {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.universe img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.universe .universe-text {
  width: 100%;
  height: 30%;
  display: flex;
  z-index: 1;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.universe .universe-text h1 {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
main {
  background: linear-gradient(to bottom, #542DB0, white);
  
}
.quoteCard {
  display: flex;
   flex-direction: center;
   align-items: center;
   background: linear-gradient(180deg, #F37335 0%, rgba(154, 28, 208, 0.0572917) 99.99%, rgba(158, 27, 210, 0) 100%);
 filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 border-radius: 22px;
   width: 335px;
 height: 194px;
   position: relative;
 }
 .quoteCard img {
  
 height: 100px;
 position:absolute;
 top: -50px;
 left: 220px;
}
.quoteCard p {
  position: absolute;
 width: 254px;
 height: 62px;
 left: 45px;
 top: 40px;
 font-family: 'Kulim Park', sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 20px;
 line-height: 23px;
 text-align: center;
 color: #FFFFFF;
 }
 
 .options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 300px;
  height: 50px;
  margin-bottom: 30px;
}
.new-quote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 117px;
  height: 43px;
  background: linear-gradient(180deg, #F37335 0%, rgba(154, 28, 208, 0.0572917) 100%);
border-radius: 31px;
}
.new-quote p {
  font-family: 'Kulim Park', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height */
text-align: center;
color: #FFFFFF;
  padding: 0 10px 0 0;
}
.new-quote i {
  color: white;
}
.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
height: 37px;
left: 39px;
top: 719px;
background: linear-gradient(180deg, #F37335 0%, rgba(154, 28, 208, 0.0572917) 100%);
border-radius: 31px;
}
.settings i {
  color: white;
}
.options-container {
  width: 100%;
height: 133px;
 display:flex;
 justify-content: space-around;
 align-items: center;
}
.options-pop {
  display: flex;
  flex-direction: row;
  width: 100%;
height: 133px;

Andreas, [21.08.2022 20:12]
background: linear-gradient(180deg, #542DB0 0%, #F37335 100%);
}
.color-rounds {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.item {
  width: 26px;
  height: 25px;
  border-radius: 50%;
}
.color-1 {
  background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
}
.color-2 {
  background: linear-gradient(180deg, #35F3D1 0%, rgba(217, 217, 217, 0) 100%);
}
.color-3 {
  background: linear-gradient(180deg, #542DB0 0%, rgba(217, 217, 217, 0) 100%);
}
.font {
  font-family: 'Koulen';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}
select {
  padding: 5px 5px;
  border-radius: 16px;
}
.background {
  font-family: 'Koulen';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}
.image {
font-family: 'Koulen';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}


.collapse{
  cursor: pointer;
  display: block;
  background: #cdf;
}
.collapse + input{
  display: none; /* hide the checkboxes */
}
.collapse + input + div{
  display:none;
}
.collapse + input:checked + div{
  display:block;
}




@media (min-width:992px) {
  main {
    padding-top: 20px;
    height: 800px;
  }
  .quote-banner {
    height: 500px;
  }
  .quoteCard {
    width: 80%;
    height: 390px;
    margin-top: 0;

  }
  .quoteCard p {
    font-size: 60px;
    width: 100%;
  }
  .options-container {
    width: 100%;
  height: 200px;
   display:flex;
   justify-content: space-around;
   align-items: center;
  }
  .options-pop {
    display: flex;
    flex-direction: row;
    width: 100%;
  height: 220px;
  background: linear-gradient(180deg, #542DB0 0%, #F37335 100%);
  }
  h1 {
    font-size: 80px;
  }
  h3 {
    font-size: 55px;
  }
  #fonts {
    height: 60px;
    width: 200px;
  }
  .color-rounds {
    height: 80px;
    width: 400px;
  }
  .color-1 {
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
    height: 80px;
    width: 80px;
  }
  .color-2 {
    background: linear-gradient(180deg, #35F3D1 0%, rgba(217, 217, 217, 0) 100%);
    height: 80px;
    width: 80px;
  }

  .color-3 {
    background: linear-gradient(180deg, #542DB0 0%, rgba(217, 217, 217, 0) 100%);
    height: 80px;
    width: 80px;
  }
  .banner img {
    width: 5%;
  
  }
  .quoteCard img {
  
    height: 200px;
    position:absolute;
    top: -100px;
    left: 1400px;
   }
  .options {
    width: 74%;
    height: 13%;

  }
  .new-quote {
    width: 300px;
    height: 80px;
  }
  .new-quote p {
    font-size: 40px;
  }
  .settings {
    height: 80px;
    width: 80px;
    border-radius: 90px;
  }
  .menu__box {
    display: none;
  }
  #burger-menu {
    display: none;
  }
}