body {
    max-width: 390px;
    max-height: 850px;
    margin: auto;
    
    background-image: linear-gradient(to bottom, #542DB0, #9A1CD0);
     
    
}
header{
    background-image: url("Images/galaxy.png");
    background-size: cover;
    height:400px;
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
header h1{
    color:white;
}
#burger-menu {
    opacity: 0;
  }
  #burger-menu:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #burger-menu:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #burger-menu:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #burger-menu:checked ~ .menu__box {
    left: 0 ;
  }
  .menu__btn {
    color:white;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -100%;
    width: 30%;
    height: 30%;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    background-image: linear-gradient(to bottom, #f37335, #9a1cd0);
    transition-duration: .25s;
  }
  .menuitem {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menuitem:hover {
    background-color: #CFD8DC;
  }
  
.universe {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.universe img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.universe .universe-text {
    width: 100%;
    height: 30%;
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.universe .universe-text h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}